/*================== Parte del titulo ==================*/

h1 {
    margin-top: 0%;
    height: 10vh;
    align-content: center;

    background-color: gray;
    border-radius: 1vh;

    font-family: sans-serif;
    font-size: 6vh;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: default;
}

/*================== Parte del form ==================*/

form {
    position: fixed;
    padding: 20px;
    bottom: 3vh;
    right: 3vw;
    width: 24vw;

    max-width: 350px;
    min-width: 220px;

    background: white;

    border-radius: 12px;
    box-shadow: 0 4px 15px black;

    font-family: sans-serif;
}

.formText {
    display: block;
    margin-top: 0.8vh;
    margin-bottom: 0.4vh;
    cursor: default;

    font-size: 3vh;
    font-family: sans-serif;
}

.formInput {
    width: 100%;
    padding: 10px;
    margin: 1vh 0;
    resize: none;
    gap: 0.8vh;

    border-radius: 1vh;
    border: 1px solid gray;

    font-size: 2.2vh;
    box-sizing: border-box;
    font-family: sans-serif;
}

.formCompleted {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 0.8vh;
}

.checked {
    margin-top: 1.8vh;
    cursor: pointer;
}

.boton {
    width: 100%;
    padding: 1.5vh;
    margin-top: 1.5vh;

    background: gray;
    border: none;
    border-radius: 1vh;

    font-size: 3vh;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/*================== Parte del listado ==================*/

.listaElementos {
    display: grid;
    grid-template-columns: 1fr;
}

.elementoDeLista {
    padding: 3vh;
    margin: 3vh auto;

    background-color: #f2f2f2;
    max-width: 90vw;
    height: 40vh;

    font-family: sans-serif;

    border-radius: 1vh;
    border: 0.2vh solid #d4d4d4;
}

.elementoDeLista > p {
    background-color: #e5e5e5;

    padding: 1.5vh 2vh;
    margin: 1.6vh 0;

    font-size: 3vh;
    overflow-wrap: break-word;

    border-radius: 1vh;
    border-left: 0.6vh solid #b5b5b5;
}

.botonBorrar {
    padding: 1.6vh 2.4vh;
    margin: 2vh auto;

    background-color: blue;
    border: none;
    border-radius: 1vh;

    font-size: 3vh;
    font-weight: bold;
    color: white;

    cursor: pointer;
}

.completada {
    cursor: pointer;
}